In [1]:
#permite que os gráficos gerados sejam mostrados na mesma janela
%matplotlib inline 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets, linear_model 
from sklearn.model_selection import train_test_split 
#import plotly.graph_objs as go
#define o estilo dos gráficos , "ggplot" é um estilo popular em R
plt.style.use('ggplot')

In [2]:
#@title Default title text
#Realiza a leitura da base (csv) e carrega na mémoria
dataBase = pd.read_csv('estaticos_market.csv')

<h1>Análise dos dados<h1>

In [3]:
dataBase.head()

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,14.457534,10 a 15,...,43.738462,93.266667,19.166667,26.0,26.0,27.0,0.0,-3.703704,0.0,0
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1.463014,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,7.093151,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,6.512329,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,3.200000,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
#verificando o tamanho da Base
dataBase.shape

(462298, 182)

In [6]:
#Verificando os nomes das colunas
dataBase.columns

Index(['Unnamed: 0', 'id', 'fl_matriz', 'de_natureza_juridica', 'sg_uf',
       'natureza_juridica_macro', 'de_ramo', 'setor', 'idade_empresa_anos',
       'idade_emp_cat',
       ...
       'media_meses_servicos', 'max_meses_servicos', 'min_meses_servicos',
       'qt_funcionarios', 'qt_funcionarios_12meses', 'qt_funcionarios_24meses',
       'tx_crescimento_12meses', 'tx_crescimento_24meses', 'tx_rotatividade',
       'qt_filiais'],
      dtype='object', length=182)

In [8]:
#verificando a tipagem dos dados
dataBase.dtypes

Unnamed: 0                   int64
id                          object
fl_matriz                     bool
de_natureza_juridica        object
sg_uf                       object
                            ...
qt_funcionarios_24meses    float64
tx_crescimento_12meses     float64
tx_crescimento_24meses     float64
tx_rotatividade            float64
qt_filiais                   int64
Length: 182, dtype: object

In [9]:
#Verificando valores nulos
total = dataBase.isnull().sum().sort_values(ascending=False)
percent = (dataBase.isnull().sum()/dataBase.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                                    Total   Percent
qt_alteracao_socio_180d            462298  1.000000
grau_instrucao_macro_desconhecido  462298  1.000000
qt_alteracao_socio_90d             462298  1.000000
qt_alteracao_socio_365d            462298  1.000000
qt_alteracao_socio_total           462298  1.000000
coligada_mais_nova_baixada         462162  0.999706
coligada_mais_antiga_baixada       462162  0.999706
idade_media_coligadas_baixadas     462162  0.999706
vl_total_veiculos_antt             462122  0.999619
vl_total_tancagem                  462018  0.999394
vl_total_veiculos_antt_grupo       461962  0.999273
vl_total_tancagem_grupo            460538  0.996193
grau_instrucao_macro_analfabeto    460414  0.995925
idade_ate_18                       459392  0.993714
qt_socios_st_suspensa              459047  0.992968
vl_potenc_cons_oleo_gas            458615  0.992033
qt_socios_pj_suspensos             457754  0.990171
vl_idade_minima_socios_pj          457754  0.990171
qt_socios_pj_inaptos               457754  0.990171
vl_idade_maxima_socios_pj          457754  0.990171

In [10]:
#Verificando os valores nulos e mostrando a quantidade por coluna
for i in dataBase.columns:
    nulls_value = dataBase[i].isna().sum()
    message = "Column {} has {} nulls".format(i, nulls_value)
    print(message)

Column Unnamed: 0 has 0 nulls
Column id has 0 nulls
Column fl_matriz has 0 nulls
Column de_natureza_juridica has 0 nulls
Column sg_uf has 0 nulls
Column natureza_juridica_macro has 0 nulls
Column de_ramo has 0 nulls
Column setor has 1927 nulls
Column idade_empresa_anos has 0 nulls
Column idade_emp_cat has 0 nulls
Column fl_me has 0 nulls
Column fl_sa has 0 nulls
Column fl_epp has 0 nulls
Column fl_mei has 0 nulls
Column fl_ltda has 0 nulls
Column dt_situacao has 6 nulls
Column fl_st_especial has 0 nulls
Column fl_email has 0 nulls
Column fl_telefone has 0 nulls
Column fl_rm has 0 nulls
Column nm_divisao has 1927 nulls
Column nm_segmento has 1927 nulls
Column fl_spa has 1927 nulls
Column fl_antt has 1927 nulls
Column fl_veiculo has 1927 nulls
Column vl_total_tancagem has 462018 nulls
Column vl_total_veiculos_antt has 462122 nulls
Column vl_total_veiculos_leves has 431614 nulls
Column vl_total_veiculos_pesados has 431614 nulls
Column fl_optante_simples has 82713 nulls
Column qt_art has 455708 nulls
Column vl_total_veiculos_pesados_grupo has 1927 nulls
Column vl_total_veiculos_leves_grupo has 1927 nulls
Column vl_total_tancagem_grupo has 460538 nulls
Column vl_total_veiculos_antt_grupo has 461962 nulls
Column vl_potenc_cons_oleo_gas has 458615 nulls
Column fl_optante_simei has 82713 nulls
Column sg_uf_matriz has 1939 nulls
Column de_saude_tributaria has 14851 nulls
Column de_saude_rescencia has 14851 nulls
Column nu_meses_rescencia has 45276 nulls
Column de_nivel_atividade has 11168 nulls
Column de_indicador_telefone has 418405 nulls
Column fl_simples_irregular has 1927 nulls
Column vl_frota has 438108 nulls
Column empsetorcensitariofaixarendapopulacao has 143829 nulls
Column nm_meso_regiao has 58698 nulls
Column nm_micro_regiao has 58698 nulls
Column fl_passivel_iss has 1927 nulls
Column qt_socios has 115091 nulls
Column qt_socios_pf has 115091 nulls
Column qt_socios_pj has 115091 nulls
Column idade_media_socios has 151602 nulls
Column idade_maxima_socios has 151602 nulls
Column idade_minima_socios has 151602 nulls
Column qt_socios_st_regular has 154917 nulls
Column qt_socios_st_suspensa has 459047 nulls
Column qt_socios_masculino has 267183 nulls
Column qt_socios_feminino has 317269 nulls
Column qt_socios_pep has 455555 nulls
Column qt_alteracao_socio_total has 462298 nulls
Column qt_alteracao_socio_90d has 462298 nulls
Column qt_alteracao_socio_180d has 462298 nulls
Column qt_alteracao_socio_365d has 462298 nulls
Column qt_socios_pj_ativos has 457754 nulls
Column qt_socios_pj_nulos has 457754 nulls
Column qt_socios_pj_baixados has 457754 nulls
Column qt_socios_pj_suspensos has 457754 nulls
Column qt_socios_pj_inaptos has 457754 nulls
Column vl_idade_media_socios_pj has 457754 nulls
Column vl_idade_maxima_socios_pj has 457754 nulls
Column vl_idade_minima_socios_pj has 457754 nulls
Column qt_coligados has 396907 nulls
Column qt_socios_coligados has 396907 nulls
Column qt_coligados_matriz has 396907 nulls
Column qt_coligados_ativo has 396907 nulls
Column qt_coligados_baixada has 396907 nulls
Column qt_coligados_inapta has 396907 nulls
Column qt_coligados_suspensa has 396907 nulls
Column qt_coligados_nula has 396907 nulls
Column idade_media_coligadas has 396907 nulls
Column idade_maxima_coligadas has 396907 nulls
Column idade_minima_coligadas has 396907 nulls
Column coligada_mais_nova_ativa has 397151 nulls
Column coligada_mais_antiga_ativa has 397151 nulls
Column idade_media_coligadas_ativas has 397151 nulls
Column coligada_mais_nova_baixada has 462162 nulls
Column coligada_mais_antiga_baixada has 462162 nulls
Column idade_media_coligadas_baixadas has 462162 nulls
Column qt_coligados_sa has 396907 nulls
Column qt_coligados_me has 396907 nulls
Column qt_coligados_mei has 396907 nulls
Column qt_coligados_ltda has 396907 nulls
Column qt_coligados_epp has 396907 nulls
Column qt_coligados_norte has 396907 nulls
Column qt_coligados_sul has 396907 nulls
Column qt_coligados_nordeste has 396907 nulls
Column qt_coligados_centro has 396907 nulls
Column qt_coligados_sudeste has 396907 nulls
Column qt_coligados_exterior has 396907 nulls
Column qt_ufs_coligados has 396907 nulls
Column qt_regioes_coligados has 396907 nulls
Column qt_ramos_coligados has 396907 nulls
Column qt_coligados_industria has 396907 nulls
Column qt_coligados_agropecuaria has 396907 nulls
Column qt_coligados_comercio has 396907 nulls
Column qt_coligados_serviço has 396907 nulls
Column qt_coligados_ccivil has 396907 nulls
Column qt_funcionarios_coligados has 419995 nulls
Column qt_funcionarios_coligados_gp has 419995 nulls
Column media_funcionarios_coligados_gp has 419995 nulls
Column max_funcionarios_coligados_gp has 419995 nulls
Column min_funcionarios_coligados_gp has 419995 nulls
Column vl_folha_coligados has 425984 nulls
Column media_vl_folha_coligados has 425984 nulls
Column max_vl_folha_coligados has 425984 nulls
Column min_vl_folha_coligados has 425984 nulls
Column vl_folha_coligados_gp has 425761 nulls
Column media_vl_folha_coligados_gp has 425761 nulls
Column max_vl_folha_coligados_gp has 425761 nulls
Column min_vl_folha_coligados_gp has 425761 nulls
Column faturamento_est_coligados has 397775 nulls
Column media_faturamento_est_coligados has 397775 nulls
Column max_faturamento_est_coligados has 397775 nulls
Column min_faturamento_est_coligados has 397775 nulls
Column faturamento_est_coligados_gp has 397775 nulls
Column media_faturamento_est_coligados_gp has 397775 nulls
Column max_faturamento_est_coligados_gp has 397775 nulls
Column min_faturamento_est_coligados_gp has 397775 nulls
Column total_filiais_coligados has 441898 nulls
Column media_filiais_coligados has 441898 nulls
Column max_filiais_coligados has 441898 nulls
Column min_filiais_coligados has 441898 nulls
Column qt_coligados_atividade_alto has 396907 nulls
Column qt_coligados_atividade_medio has 396907 nulls
Column qt_coligados_atividade_baixo has 396907 nulls
Column qt_coligados_atividade_mt_baixo has 396907 nulls
Column qt_coligados_atividade_inativo has 396907 nulls
Column qt_coligadas has 412067 nulls
Column sum_faturamento_estimado_coligadas has 412754 nulls
Column de_faixa_faturamento_estimado has 27513 nulls
Column de_faixa_faturamento_estimado_grupo has 27513 nulls
Column vl_faturamento_estimado_aux has 27513 nulls
Column vl_faturamento_estimado_grupo_aux has 27513 nulls
Column qt_ex_funcionarios has 347044 nulls
Column qt_funcionarios_grupo has 347035 nulls
Column percent_func_genero_masc has 386356 nulls
Column percent_func_genero_fem has 386356 nulls
Column idade_ate_18 has 459392 nulls
Column idade_de_19_a_23 has 436408 nulls
Column idade_de_24_a_28 has 423403 nulls
Column idade_de_29_a_33 has 422155 nulls
Column idade_de_34_a_38 has 425569 nulls
Column idade_de_39_a_43 has 431890 nulls
Column idade_de_44_a_48 has 438008 nulls
Column idade_de_49_a_53 has 443261 nulls
Column idade_de_54_a_58 has 448323 nulls
Column idade_acima_de_58 has 451272 nulls
Column grau_instrucao_macro_analfabeto has 460414 nulls
Column grau_instrucao_macro_escolaridade_fundamental has 437402 nulls
Column grau_instrucao_macro_escolaridade_media has 394501 nulls
Column grau_instrucao_macro_escolaridade_superior has 439571 nulls
Column grau_instrucao_macro_desconhecido has 462298 nulls
Column total has 386356 nulls
Column meses_ultima_contratacaco has 358724 nulls
Column qt_admitidos_12meses has 358724 nulls
Column qt_desligados_12meses has 358724 nulls
Column qt_desligados has 358724 nulls
Column qt_admitidos has 358724 nulls
Column media_meses_servicos_all has 358738 nulls
Column max_meses_servicos_all has 358738 nulls
Column min_meses_servicos_all has 358738 nulls
Column media_meses_servicos has 386037 nulls
Column max_meses_servicos has 386037 nulls
Column min_meses_servicos has 386037 nulls
Column qt_funcionarios has 358724 nulls
Column qt_funcionarios_12meses has 358724 nulls
Column qt_funcionarios_24meses has 358724 nulls
Column tx_crescimento_12meses has 388410 nulls
Column tx_crescimento_24meses has 388284 nulls
Column tx_rotatividade has 358724 nulls
Column qt_filiais has 0 nulls

In [7]:
import pandas_profiling
profile = dataBase.profile_report(title="Estatisticos Dataset")

ModuleNotFoundError: No module named 'pandas_profiling'

<h1>Cluster</h1>

In [12]:
x = dataBase.iloc[:, [3, 4]].values

# let's check the shape of x
print(x.shape)

(462298, 2)

In [13]:
from sklearn.cluster import KMeans

wcss = []
for i in range(1, 11):
    km = KMeans(n_clusters = i, init = 'k-means++', max_iter = 300, n_init = 10, random_state = 0)
    km.fit(x)
    wcss.append(km.inertia_)
    
plt.plot(range(1, 11), wcss)
plt.title('The Elbow Method', fontsize = 20)
plt.xlabel('No. of Clusters')
plt.ylabel('wcss')
plt.show()

ValueError: could not convert string to float: 'RO'